body {
  background-color: rgb(0, 153, 255);
  font-family: "arial";
}

.info {
  border: 3px solid red;
  background-color: aliceblue;
  height: 300px;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.committ {
  border: 3px solid red;
  background-color: aliceblue;
  height: 125px;
  width: 750px;
  margin: 10px;
  padding: 10px;
}